__pycache__/
paper/*.aux
paper/*.log
paper/*.out
paper/*.fls
paper/*.fdb_latexmk
paper/*.bbl
paper/*.blg
compute.txt
sshkeypair.pem
riscergosum-*.tgz
*.aux
*.out
*.fls
*.fdb_latexmk
worthiness/*.log
worthiness/ct_run/*.mx
worthiness/salvage_cache.pkl
